.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  color: blue;
  outline: orange;
  line-height: 1em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#bored-button {
  cursor: pointer;
}
